* {
    font-family: 'Fragment Mono', monospace;

}


body {
    background-color: #d7743b;
}

.logo img {
    width: 350px;
    margin: 10% auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin: 10% auto;
    justify-content: center;
    justify-content: space-evenly;
}

.form {
    background-color: #f4dbbd;
    outline: .3rem #381414 solid;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.801) 0px 5px 15px;
    height: auto;
    text-align: center;
    min-width: 300px;
    width: 360px;
    padding: 1rem;
}

h1 {
    font-size: 1.5em;
}

#text, #pw {
    font-size: 1em;
    padding: 1rem;
    height: 18px;
    width: 70%;
    margin: 13px 0;
    border-radius: 13px;
    outline: #381414 .1rem solid;
}

#text {
    background: url("img/emailicon.png") no-repeat left;
    background-size: 1.6rem;
    padding-left: 33px;
    background-position: 2px;
}

#pw {
    background: url("img/pwicon.png") no-repeat left;
   background-size: 1.6rem;
   padding-left: 33px;
   background-position: 2px;
}

#bttn {
    height: 2.8rem;
    width: 84%;
    border-radius: 13px;
    outline: #381414 .1rem solid;
    font-size: 1.3em;
    background-color:#F4A261;
    outline: #381414 3px solid;
    cursor: pointer;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#bttn:hover {
    background-color: #d1772d;
}

.footer ,.footer a{
    padding:.5rem;
    margin: .7rem auto;
    text-decoration: none;
    color: black;
    min-width: 290px;
    font-weight: 550;
}

.footer a:hover {
    text-decoration: underline;
    color: #d1772d;
}


@media only screen and (max-width: 653px) {
    .logo img {
        width: 300px;
        margin-top: -20px;
        margin-bottom: 2rem;
    }

    .form {
        width: 30%;
    }
}